[Unit]
Description=Fabio Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=fabio
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/fabio -cfg /etc/fabio/fabio.properties"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
